[submodule "Beancount-Trans-Backend"]
	path = Beancount-Trans-Backend
	url = https://github.com/dhr2333/Beancount-Trans-Backend.git
	branch = main
[submodule "Beancount-Trans-Frontend"]
	path = Beancount-Trans-Frontend
	url = https://github.com/dhr2333/Beancount-Trans-Frontend.git
	branch = main
[submodule "Beancount-Trans-Assets"]
	path = Beancount-Trans-Assets
	url = https://github.com/dhr2333/Beancount-Trans-Assets.git
	branch = main
[submodule "Beancount-Trans-Docs"]
	path = Beancount-Trans-Docs
	url = https://github.com/dhr2333/Beancount-Trans-Docs.git
